body {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
}

.hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 75px;
  height: 50px;
  margin-left: 20px;
}

header ion-icon {
  font-size: 45px;
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main img {
  position: absolute;
  width: 130px;
  height: 92px;
  left: 122px;
  top: 72px;
}

main input {
  width: 261px;
  height: 54px;
  position: absolute;
  left: 57px;
  top: 258px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  text-align: center;
}

main input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #aeaeae;
}

main input:focus::placeholder {
  color: transparent;
}

main button {
  position: absolute;
  width: 109px;
  height: 45px;
  left: 133px;
  top: 327px;
  background: #e7e7e7;
  border-radius: 9px;
  border: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #696969;
}

.loading img {
  position: absolute;
  left: 150px;
  top: 130px;
  width: 80px;
}

.loading p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  position: absolute;
  left: 145px;
  top: 270px;
}

.messageLog {
  background-color: #e5e5e5;
  width: 100%;
  height: calc(667px - 160px);
}

.chat {
    background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 40px;
}

.chat li {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.chat strong {
  font-weight: bold;
}

.status {
  width: 100%;
  min-height: 40px;
  background-color: #DCDCDC;
  border-radius: 2px;
  margin-bottom: 5px;
}

.message {
  width: 100%;
  min-height: 40px;
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 5px;
}

.private_message {
    width: 100%;
    min-height: 40px;
    background-color: #FFDEDE;
    border-radius: 2px;
    margin-bottom: 5px;
}

.timer {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 400;
}

.chat p {
  word-break: break-all;
}

footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer div {
  display: flex;
}

footer input {
  background-color: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  border: none;
  padding-left: 15px;
}

footer input::placeholder {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

footer input:focus::placeholder {
  color: transparent;
}

footer input:focus {
  outline: none;
}

footer button {
  background: none;
  outline: none;
  border: none;
}
footer ion-icon {
  font-size: 30px;
  margin-right: 12px;
}
